@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Montserrat;
    color: #f5f5f5;
}

body {
    background: url(bg10.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    
    min-height: 100vh;
    
    display: flex;
    flex-direction: column;
}

#button {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.link {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 12px;
    color: #ffffff;
    text-decoration: none;
}

#button {
    padding: 9px 29px;
    background-color: #3399ff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

#button:hover {
    background-color: #0088a9;
}

#panel_index {
    text-align: center;
    padding: 75px 0px 75px 0px;
    align-content: center;
    background-color: rgba(0.0, 0.0, 0.0, 0.3);
}

#text {
    font-family: Montserrat;
    text-align: center;
    padding: 75px 0px 75px 0px;
    align-content: center;
    color: #ffffff;
}

.ripple {
   width: 10px;
   height: 10px;
   background-color: #e6ffff;
   position: fixed;
   border-radius: 50%;
   border: 1px solid #99ffff;
}

@keyframes ripple-effect {
   to {
      transform:scale(15);
      opacity: 0.01;
   }
}
